<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Finalización del Evento</title>
</head>
<body>
    <h1>Evento Finalizado</h1>
    <p>Estimado usuario,</p>
    <p>El evento <strong>{{eventName}}</strong> ha finalizado el <strong>{{endTime}}</strong>.</p>
    <p>Detalles del evento:</p>
    <ul>
        <li><strong>Nombre del evento:</strong> {{eventName}}</li>
        <li><strong>Descripción:</strong> {{description}}</li>
        <li><strong>Lugar:</strong> {{lugarEvento}}</li>
        <li><strong>Tipo de evento:</strong> {{tipoEvento}}</li>
    </ul>
    <p>Recuerda que tu asistencia a este evento fue registrada con deteccion facial.</p>
    <p>De acuerdo con las normas de protección de datos, te informamos que tus datos personales están protegidos y no serán utilizados para fines distintos a los relacionados con este evento. Para más información, consulta nuestra política de privacidad.</p>
    <p>Gracias por participar.</p>
    <p>Saludos,<br>Sistema de  Eventos</p>
</body>
</html>